
  select {
    background-color: black; 
    color: white;         
  }


  select:focus {
    background-color: black; 
    color: black;          
  }


  select option {
    text-align: center;  
  }

  .input_formulario {
    border: 2px solid white; 

  }
  
  input:focus {
    outline: none;
  }
  
  .input_formulario:valid {
    border: 2px solid green;
  }
  
  .input_formulario:invalid {
    border: 2px solid red 
  }
  