*{
    box-sizing: border-box;
}

body{
    background-color: #41282D;

}

.contenedor{
    margin: 0 auto;
}

.header{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    z-index: 1;
    display: flex;
    margin-top: 100px;
    margin-bottom: 40px;
}

.container_image-nav{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 1200px;
}

.image_nav{

    width: 100%;
}